.content{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 125px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    text-decoration: underline;
}

#game-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #game-info {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #game-info p {
    margin-bottom: 10px;
  }

  #game-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
  }

  #game-option-button {
    width: 200px;
    height: 50px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  #game-feedback {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }