*{
  transition: 1s all;
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
header{
  position: fixed;
  top: 0;left: 0;right: 0;
  background: rgb(88, 203, 248);
  box-shadow: 0 5px 10px rgba(0, 0, 0,.1);
  padding: 0px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .navbar ul{
list-style: none;
position: relative;
right: 280px;
top: 25px;
}
header .navbar ul li{
  position: relative;
  float: left;

}
.work{
  position: relative;
  left: 100px;
  top: 10px;

}
header .navbar ul li a{
  font-size: 20px;
  padding: 20px;
  color: #333;
  display: block;
 top: 40px;
 left: 420px;
}
header .navbar ul li a:hover{
background: #333;
color: #fff;

}
header .navbar ul li ul{
  position: absolute;
  left: 0;
  top: 60px;
  width: 200px;
  background: #fff;
  display: none;
}
header .navbar ul li ul li{
width: 100%;
border-top: 1px solid rgba(0, 0, 0,.1)
}
header .navbar ul li ul li ul{
  left: 200px;
  top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
  display: initial;
}

#menu-bar{
  display: none;
}
header label{
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
  
}

/*Media */
@media(max-width:768px){
header .navbar{
  position: relative;
  left: 125px;
  width: 58%;
  top: -30px;
}
header .navbar .switch {
  position: relative;
  top: 120px;
  left: -90px;
}
}
@media(min-width:425px){
header .navbar{
  position: relative;
  left: 125px;
}
header .navbar .switch{
  position: relative;
  left: -40px;
}
label .switch{
  position: relative;
  top: 100px;
}
}

/*Media End*/
/*Toggle*/
.switch {
  position: relative;
  display:inline;
  width: 60px;
  height: 34px;
  right: -5px;
  top: 120px;
}
.NToggle{
  font-size:.8em ;
  position: relative;
  top: -165px;
  right:-40px;
  font-display:flex;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: relative;
  top: -160px;
  right: -210px;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 70px;
  height: inherit;
  top: -60px;
  left: -100px;
  right: 0;
  bottom: 0;
  background-color: #f7cc6f;
  -webkit-transition: .4s;
  transition: .4s;
  
}
.slider-Night{
  background-color: black;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: yellow;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider-night:before{
  background-color: white;
}

input:checked + .slider {
  background-color: #141414;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*End of Toggle*/
  /*Day N Night cycles */
  body{
    background-color: rgb(162, 225, 250);
    color: black;
  }
  .night-mode {
    background-color: rgb(71, 67, 67);
    color: white;
  }
.header-night{
  background-color: rgb(131, 129, 129);
}


/*End Of Night Day Cycle*/